Repository blitzy-public-samples/abcd-to3w5c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @frontend-team, @backend-team, @analytics-team, @security-team, @devops-team

.github/CODEOWNERS:

# The pattern format follows gitignore style syntax and is case-sensitive.
# Order is important - the last matching pattern takes precedence.

# Global owners - Project leads have review capabilities across all files
* @project-leads

# Frontend Application
src/web/* @frontend-team

# Backend Services - Core services
src/backend/* @backend-team

# Specific Backend Services with additional review requirements
src/backend/src/analytics-service/* @analytics-team @backend-team
src/backend/src/auth-service/* @security-team @backend-team
src/backend/src/habit-service/* @backend-team
src/backend/src/notification-service/* @backend-team

# Infrastructure and DevOps
infrastructure/* @devops-team
infrastructure/terraform/* @devops-team  # Requires 2 reviewers per security rules
.github/workflows/* @devops-team

# Documentation
docs/* @project-leads @backend-team @frontend-team

# Security-sensitive areas requiring multiple reviewers
# Auth service changes require security team review
src/backend/src/auth-service/* @security-team @backend-team  # Requires 2 reviewers per security rules

# Infrastructure as Code requires multiple DevOps reviewers
infrastructure/terraform/* @devops-team  # Requires 2 reviewers per security rules
infrastructure/kubernetes/* @devops-team

# Configuration files at repository root
/*.* @project-leads

Add public-samples/abcd-to3w5c/infrastructure/terraform/rds.tf
  infrastructure/terraform/rds.tf
Owners: @devops-team

Add public-samples/abcd-to3w5c/infrastructure/terraform/route53.tf
  infrastructure/terraform/route53.tf
Owners: @devops-team

Add public-samples/abcd-to3w5c/infrastructure/terraform/s3.tf
  infrastructure/terraform/s3.tf
Owners: @devops-team

Add public-samples/abcd-to3w5c/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team

Add public-samples/abcd-to3w5c/infrastructure/terraform/versions.tf
  infrastructure/terraform/versions.tf
Owners: @devops-team

Add public-samples/abcd-to3w5c/infrastructure/terraform/vpc.tf
  infrastructure/terraform/vpc.tf
Owners: @devops-team

Add public-samples/abcd-to3w5c/infrastructure/terraform/environments/dev/terraform.tfvars
  infrastructure/terraform/environments/dev/terraform.tfvars
Owners: @project-leads

Add public-samples/abcd-to3w5c/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @project-leads

Add public-samples/abcd-to3w5c/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team

Add public-samples/abcd-to3w5c/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team

Add public-samples/abcd-to3w5c/src/backend/.eslintrc.ts
  src/backend/.eslintrc.ts
Owners: @backend-team

Add public-samples/abcd-to3w5c/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @backend-team

Add public-samples/abcd-to3w5c/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team

Add public-samples/abcd-to3w5c/src/backend/README.md
  src/backend/README.md
Owners: @backend-team

Add public-samples/abcd-to3w5c/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team

Add public-samples/abcd-to3w5c/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @backend-team

Add public-samples/abcd-to3w5c/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @backend-team

Add public-samples/abcd-to3w5c/src/backend/package.json
  src/backend/package.json
Owners: @backend-team

Add public-samples/abcd-to3w5c/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team

Add public-samples/abcd-to3w5c/src/backend/kubernetes/analytics-service-deployment.yaml
  src/backend/kubernetes/analytics-service-deployment.yaml
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/kubernetes/api-gateway-deployment.yaml
  src/backend/kubernetes/api-gateway-deployment.yaml
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/kubernetes/auth-service-deployment.yaml
  src/backend/kubernetes/auth-service-deployment.yaml
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/kubernetes/configmap.yaml
  src/backend/kubernetes/configmap.yaml
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/kubernetes/habit-service-deployment.yaml
  src/backend/kubernetes/habit-service-deployment.yaml
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/kubernetes/ingress.yaml
  src/backend/kubernetes/ingress.yaml
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/kubernetes/notification-service-deployment.yaml
  src/backend/kubernetes/notification-service-deployment.yaml
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/kubernetes/postgres-deployment.yaml
  src/backend/kubernetes/postgres-deployment.yaml
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/kubernetes/redis-deployment.yaml
  src/backend/kubernetes/redis-deployment.yaml
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/kubernetes/secrets.yaml
  src/backend/kubernetes/secrets.yaml
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/analytics-service/Dockerfile
  src/backend/src/analytics-service/Dockerfile
Owners: @analytics-team, @backend-team

Add public-samples/abcd-to3w5c/src/backend/src/analytics-service/package.json
  src/backend/src/analytics-service/package.json
Owners: @analytics-team, @backend-team

Add public-samples/abcd-to3w5c/src/backend/src/analytics-service/src/app.ts
  src/backend/src/analytics-service/src/app.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/analytics-service/src/config/cache.config.ts
  src/backend/src/analytics-service/src/config/cache.config.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/analytics-service/src/controllers/analytics.controller.ts
  src/backend/src/analytics-service/src/controllers/analytics.controller.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/analytics-service/src/interfaces/analytics.interface.ts
  src/backend/src/analytics-service/src/interfaces/analytics.interface.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/analytics-service/src/services/analytics.service.ts
  src/backend/src/analytics-service/src/services/analytics.service.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/analytics-service/src/utils/statistics.util.ts
  src/backend/src/analytics-service/src/utils/statistics.util.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/analytics-service/test/integration/analytics.test.ts
  src/backend/src/analytics-service/test/integration/analytics.test.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/analytics-service/test/unit/services.test.ts
  src/backend/src/analytics-service/test/unit/services.test.ts
Owners: @project-leads
