Repository blitzy-public-samples/abcd-to3w5c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @frontend-team, @backend-team, @analytics-team, @security-team, @devops-team

.github/CODEOWNERS:

# The pattern format follows gitignore style syntax and is case-sensitive.
# Order is important - the last matching pattern takes precedence.

# Global owners - Project leads have review capabilities across all files
* @project-leads

# Frontend Application
src/web/* @frontend-team

# Backend Services - Core services
src/backend/* @backend-team

# Specific Backend Services with additional review requirements
src/backend/src/analytics-service/* @analytics-team @backend-team
src/backend/src/auth-service/* @security-team @backend-team
src/backend/src/habit-service/* @backend-team
src/backend/src/notification-service/* @backend-team

# Infrastructure and DevOps
infrastructure/* @devops-team
infrastructure/terraform/* @devops-team  # Requires 2 reviewers per security rules
.github/workflows/* @devops-team

# Documentation
docs/* @project-leads @backend-team @frontend-team

# Security-sensitive areas requiring multiple reviewers
# Auth service changes require security team review
src/backend/src/auth-service/* @security-team @backend-team  # Requires 2 reviewers per security rules

# Infrastructure as Code requires multiple DevOps reviewers
infrastructure/terraform/* @devops-team  # Requires 2 reviewers per security rules
infrastructure/kubernetes/* @devops-team

# Configuration files at repository root
/*.* @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/habit-service/Dockerfile
  src/backend/src/habit-service/Dockerfile
Owners: @backend-team

Add public-samples/abcd-to3w5c/src/backend/src/habit-service/package.json
  src/backend/src/habit-service/package.json
Owners: @backend-team

Add public-samples/abcd-to3w5c/src/backend/src/habit-service/src/app.ts
  src/backend/src/habit-service/src/app.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/habit-service/src/config/database.config.ts
  src/backend/src/habit-service/src/config/database.config.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/habit-service/src/controllers/habit.controller.ts
  src/backend/src/habit-service/src/controllers/habit.controller.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/habit-service/src/interfaces/habit.interface.ts
  src/backend/src/habit-service/src/interfaces/habit.interface.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/habit-service/src/models/habit-log.model.ts
  src/backend/src/habit-service/src/models/habit-log.model.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/habit-service/src/models/habit.model.ts
  src/backend/src/habit-service/src/models/habit.model.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/habit-service/src/repositories/habit.repository.ts
  src/backend/src/habit-service/src/repositories/habit.repository.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/habit-service/src/services/habit.service.ts
  src/backend/src/habit-service/src/services/habit.service.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/habit-service/src/validators/habit.validator.ts
  src/backend/src/habit-service/src/validators/habit.validator.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/habit-service/test/integration/habit.test.ts
  src/backend/src/habit-service/test/integration/habit.test.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/habit-service/test/unit/services.test.ts
  src/backend/src/habit-service/test/unit/services.test.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/notification-service/Dockerfile
  src/backend/src/notification-service/Dockerfile
Owners: @backend-team

Add public-samples/abcd-to3w5c/src/backend/src/notification-service/package.json
  src/backend/src/notification-service/package.json
Owners: @backend-team

Add public-samples/abcd-to3w5c/src/backend/src/notification-service/src/app.ts
  src/backend/src/notification-service/src/app.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/notification-service/src/config/email.config.ts
  src/backend/src/notification-service/src/config/email.config.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/notification-service/src/controllers/notification.controller.ts
  src/backend/src/notification-service/src/controllers/notification.controller.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/notification-service/src/interfaces/notification.interface.ts
  src/backend/src/notification-service/src/interfaces/notification.interface.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/notification-service/src/services/email.service.ts
  src/backend/src/notification-service/src/services/email.service.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/notification-service/src/services/notification.service.ts
  src/backend/src/notification-service/src/services/notification.service.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/notification-service/src/templates/achievement.template.ts
  src/backend/src/notification-service/src/templates/achievement.template.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/notification-service/src/templates/reminder.template.ts
  src/backend/src/notification-service/src/templates/reminder.template.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/notification-service/test/integration/notification.test.ts
  src/backend/src/notification-service/test/integration/notification.test.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/notification-service/test/unit/services.test.ts
  src/backend/src/notification-service/test/unit/services.test.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/proto/analytics.proto
  src/backend/src/proto/analytics.proto
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/proto/auth.proto
  src/backend/src/proto/auth.proto
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/proto/habits.proto
  src/backend/src/proto/habits.proto
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/proto/notification.proto
  src/backend/src/proto/notification.proto
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/shared/constants/error-codes.ts
  src/backend/src/shared/constants/error-codes.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/shared/constants/messages.ts
  src/backend/src/shared/constants/messages.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/shared/interfaces/base.interface.ts
  src/backend/src/shared/interfaces/base.interface.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/shared/interfaces/error.interface.ts
  src/backend/src/shared/interfaces/error.interface.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/shared/middleware/error-handler.ts
  src/backend/src/shared/middleware/error-handler.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/shared/middleware/request-validator.ts
  src/backend/src/shared/middleware/request-validator.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/shared/utils/date.util.ts
  src/backend/src/shared/utils/date.util.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/shared/utils/logger.util.ts
  src/backend/src/shared/utils/logger.util.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/backend/src/shared/utils/response.util.ts
  src/backend/src/shared/utils/response.util.ts
Owners: @project-leads

Add public-samples/abcd-to3w5c/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team

Add public-samples/abcd-to3w5c/src/web/.env.development
  src/web/.env.development
Owners: @frontend-team
